//@import "_pokeball.scss";

@mixin gameboyItem {
  border: black 2.5px solid;
  border-radius: 15px;
  min-width: fit-content;
}
.gameboy-div {
  @include gameboyItem();
  position: relative;
  background-color: rgb(212, 45, 45);
  width: 35vw;
  height: fit-content;
  text-align: center;
  margin: 50px;
}
.search-div {
  position: relative;
  min-height: 90px;
  & > input {
    @include gameboyItem();
    margin-right: 2%;
    width: 10vw;
  }
  & > button {
    @include gameboyItem();
    padding: 5px;
  }
}

.img-block {
  @include gameboyItem();
  position: relative;
  background-color: whitesmoke;
  left: 10%;
  width: 80%;
  height: 40vh;
  margin-top: 5%;
}
.info-img {
  position: absolute;
  left: 5%;
  width: 70%;
}
.catch-button {
  @include gameboyItem();
  position: relative;
  background-color: green;
  top: 80%;
  left: 50%;
  border-radius: 50%;
  padding: 6% 1% 6% 1%;
}

.first-info {
  @include gameboyItem();
  position: relative;
  min-height: 120px;
  background-color: whitesmoke;
  left: 10%;
  width: 80%;
  height: 8vh;
  margin-top: 10%;
  & > h3 {
    position: relative;
    text-transform: uppercase;
  }
  & > span {
    position: relative;
    top: 20%;
  }
}
.second-info {
  @include gameboyItem();
  position: relative;
  background-color: whitesmoke;
  width: 50%;
  height: fit-content;
  left: 25%;
  margin: 5% 0 5% 0;
}
