@import "_Type";
@import "_collection";
@import "_gameboy";
body {
  background-color: rgb(0, 0, 88);
}
@media screen and(max-width:1100px) {
  body {
    background-color: white;
  }
  .gameboy-div {
    margin: 10px 25vw 10px 25vw;
    width: 50vw;
  }
}
