.type-span {
  position: relative;
  margin-left: 7px;
  padding: 15px 10px 7px 10px;
  border-radius: 13px;
  font-size: 0.8em;
  color: white;
  border: solid black 1px;
}

.type-span h2 {
  display: inline;
  text-transform: uppercase;
}

.type-span.fighting {
  background-color: #c02f27;
}

.type-span.fire {
  background-color: #f17f2e;
}

.type-span.ghost {
  background-color: #715799;
}

.type-span.electric {
  background-color: #ffd72b;
}

.type-span.normal {
  background-color: #b8b8d0;
}

.type-span.bug {
  background-color: #a8b820;
}

.type-span.flying {
  background-color: #a990f1;
}

.type-span.steel {
  background-color: #b8b8d0;
}

.type-span.psychic {
  background-color: #f95788;
}

.type-span.poison {
  background-color: #9f3ea0;
}

.type-span.ice {
  background-color: #98d9d9;
}

.type-span.ground {
  background-color: #e9cc72;
}

.type-span.water {
  background-color: #6890f0;
}

.type-span.dragon {
  background-color: #6f36fb;
}

.type-span.rock {
  background-color: #b89f38;
}

.type-span.grass {
  background-color: #78c850;
}

.type-span.dark {
  background-color: #705948;
}

.collection-list {
  position: absolute;
  top: 50%;
  left: 50%;
}

.types-list {
  position: absolute;
  left: 50%;
  top: 0%;
}

.list {
  overflow: auto;
  scroll-margin: 0 0 0 50px;
  height: 32vh;
  width: 37vw;
  margin: 25px 0 25px 0;
}

.list-item {
  background-color: blue;
  text-transform: uppercase;
  color: white;
  margin: 5px;
  padding: 10px;
  border: solid 3px;
  border-color: black;
  border-radius: 10px;
  min-height: 69px;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
  -webkit-box-shadow: gray;
          box-shadow: gray;
}

.list-item:hover {
  background-color: #0f55eb;
}

.list-title {
  color: white;
}

@media screen and (max-width: 1300px) {
  .collection-list {
    left: 10vw;
    top: 130%;
  }
  .types-list {
    left: 10vw;
    top: 170%;
  }
  .list {
    width: 70vw;
  }
}

.gameboy-div {
  border: black 2.5px solid;
  border-radius: 15px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  position: absolute;
  background-color: #d42d2d;
  width: 35vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  margin: 10px 0px 10px 50px;
}

.search-div {
  position: relative;
  min-height: 90px;
}

.search-div > input {
  border: black 2.5px solid;
  border-radius: 15px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-right: 2%;
  width: 10vw;
}

.search-div > button {
  border: black 2.5px solid;
  border-radius: 15px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 5px;
}

.img-block {
  border: black 2.5px solid;
  border-radius: 15px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-width: 5px;
  position: relative;
  background-color: whitesmoke;
  left: 10%;
  width: 80%;
  height: 40vh;
}

.info-img {
  position: relative;
  left: 5%;
  width: 70%;
}

.catch-button {
  position: absolute;
  top: 95%;
  z-index: 2;
  left: 50%;
  width: 50px;
  height: 50px;
}

.catch-button:hover {
  cursor: pointer;
  border: black solid 2px;
  border-radius: 50%;
}

.catch-button:active {
  top: 94%;
  left: 49%;
  width: 60px;
  height: 60px;
}

.combined-info {
  border: black 2.5px solid;
  border-radius: 15px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  position: relative;
  width: 90%;
  margin: 3%;
  background-color: #636363;
}

.first-info {
  border: black 2.5px solid;
  border-radius: 15px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  position: relative;
  min-height: 120px;
  background-color: #8dc73f;
  width: 80%;
  margin: 3% 10% 0 10%;
}

.first-info > h3 {
  position: relative;
  text-transform: uppercase;
}

.first-info > span {
  position: relative;
  top: 20%;
}

.second-info {
  border: black 2.5px solid;
  border-radius: 15px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  position: relative;
  background-color: #8dc73f;
  width: 50%;
  margin: 3% 25% 3% 25%;
}

body {
  background-color: #000058;
}

.audio {
  visibility: hidden;
}

@media screen and (max-width: 1300px) {
  .gameboy-div {
    margin: 10px 10vw 10px 10vw;
    width: 50vw;
  }
}
/*# sourceMappingURL=App.css.map */