@import "_Type";
@import "_lists";
@import "_gameboy";
body {
  background-color: rgb(0, 0, 88);
}
.audio {
  visibility: hidden;
}
@media screen and(max-width:1300px) {
  .gameboy-div {
    margin: 10px 10vw 10px 10vw;
    width: 50vw;
  }
}
